@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }



        &__tittle {
            font-size: 32px;
            line-height: 39px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
        }
    }

    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .game {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__item {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .season {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__tittle {
            font-size: 32px;
            line-height: 39px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
        }

        &__img-box {
            display: none;

            &_mobile {
                display: flex;
                align-items: center;
                padding-top: 64px;
            }
        }
    }

}